*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;


}

header{
    background-color: darkslateblue;
    color: white;
}

main{
    background-color: #fff;
    display: grid;
    
    
}

aside h2{
    padding: 1rem;

}

.container{
    display: grid;
    grid-template-columns: 3fr minmax(200px,1fr);
    align-content: start;
    align-items:start;
}
.book-container{
    background-color:rgb(99,99,99,0.1);
    padding: 1rem;
}
.book-cards{
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    align-items: start;
    gap: 1rem;
    grid-column: 1/span 1;
}

aside{
    grid-column: 2/span 1;
}

.card{
    background-color: #fff;
    min-height: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgb(99,99,99,0.2) 0px 2px 8px 0px;
    display: grid;
    align-content: space-between;
}